<a class="thumbnail" href="{{ url }}"> 
  {{ content.field_coop_image }}
</a>
<h4> 
  <a href="{{ url }}">
    {{ label }}
  </a>
</h4>  
<small class="icon-location">{{ content.field_address }}</small>
<p>{{ content.body }}</p>
