<a href="{{ url }}"> 
  {{ content.field_photo }}
</a>
<h4> 
  <a href="{{ url }}">
    {{ node.title.0.value }}
  </a>
</h4>  
<small>{{ content.field_cooprative }}</small>
<p>{{ node.body.0.value }}</p>
