<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="row footer-menu">
            <div class="col-md-3 col-sm-6 col-xs-6">
                {{ content.field_product_links }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                {{ content.field_coop_links }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                {{ content.field_faq_links }}
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                {{ content.field_about_us_links }}
            </div>
        </div>
    </div>
    <div class="col-md-5 col-xs-12 col-md-offset-1">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                {{ content.field_contact_info }}
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                {{ content.field_follow_info }}
            </div>
        </div>
    </div>
</div>
