<header>
    {{ page.header }}
</header>

<div class="wrapper">
  <section class="content column">
    {% if messages %}
      <div class="messages">
        {{ messages }}
      </div>
    {% endif %}
    {{ page.help }}

    {% if page.highlighted %}
      <div class="highlighted">{{ page.highlighted }}</div>
    {% endif %}

    <a id="main-content"></a>

    {{ page.content }}
  </section>

  {% if page.sidebar_first %}
    <aside class="column sidebar first">
      {{ page.sidebar_first }}
    </aside>  <!-- End first aside. -->
  {% endif %}

  {% if page.sidebar_second %}
    <aside class="column sidebar second">
      {{ page.sidebar_second }}
    </aside> <!-- End second aside. -->
  {% endif %}

</div>

{% if page.footer or theme_credit %}
  <footer>
    {{ page.footer }}
    {% if theme_credit %}
      <div class = "theme-credit">{{ theme_credit }}</div>
    {% endif %}
  </footer>
{% endif %}
