<header>
    {{ page.header }}
</header>

<div class="wrapper">
  <section class="content column">
    {% if messages %}
      <div class="messages">
        {{ messages }}
      </div>
    {% endif %}
    {{ page.help }}

    {% if page.highlighted %}
      <div class="highlighted">{{ page.highlighted }}</div>
    {% endif %}

    <a id="main-content"></a>
    
    {{ page.content.krypton_content }}
    
    <section class="product-lists">
      <div class="container page-block">
        {{ page.content.views_block__product_type }}
        {{ page.content.views_block__recent_products }}
      </div>
    </section>
    
    <section class="product-lists">
      <div class="container page-block">
        {{ page.content.views_block__all_products_preview }}
      </div>
    </section>
    
  </section>

</div>

{% if page.footer or theme_credit %}
  <footer>
    {{ page.footer }}
    {% if theme_credit %}
      <div class = "theme-credit">{{ theme_credit }}</div>
    {% endif %}
  </footer>
{% endif %}
