<header>
    <nav>
        <div class="container">
            <div class="row">
                {{ page.header }}
            </div>
        </div>
    </nav>
</header>

<div class="wrapper">
  <section class="content column">
    {% if messages %}
      <div class="messages">
        {{ messages }}
      </div>
    {% endif %}
    {{ page.help }}

    {% if page.highlighted %}
      <div class="highlighted">{{ page.highlighted }}</div>
    {% endif %}

    <a id="main-content"></a>

    {{ page.content.krypton_content }}
    
    {{ page.content.views_block__recommend_products }}
    
  </section>

</div>

{{ dump(page.content | keys) }}<br>

{% if page.footer or theme_credit %}
  <footer>
    {{ page.footer }}
    {% if theme_credit %}
      <div class = "theme-credit">{{ theme_credit }}</div>
    {% endif %}
  </footer>
{% endif %}
